.container {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 100px;
   
  }

  .item {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 45px;
    
  
  }

  .title {

    font-size: 75px;

  }

  .desc {
    font-size: 32px;
    font-weight: 300;
    margin: auto;
  }

  .img {
    border-radius: 15px;
    align-items: center;
    margin: auto;
  }
