body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.chat-container {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


.received-message {
    background-color: #f1f1f1;
    color: #000;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #0095f6;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0083d1;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    word-wrap: break-word;
    max-width: 90%; /* Limit the message width to 90% of the chat window width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.sent-message {
    background-color: #0095f6;
    color: #fff;
    margin-left: auto; /* Add this line to push the user's messages to the right side */
}