.container {
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.links {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}