<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <title>PokeNavi | Creation</title>
    <link rel="shortcut icon" type="image/png"
        href="https://raw.githubusercontent.com/PokeAPI/sprites/fe9b71b303647573cd61f92d9a43fd32a47d9c7d/sprites/items/poke-radar.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://raw.githubusercontent.com/PokeAPI/sprites/fe9b71b303647573cd61f92d9a43fd32a47d9c7d/sprites/items/poke-radar.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://raw.githubusercontent.com/PokeAPI/sprites/fe9b71b303647573cd61f92d9a43fd32a47d9c7d/sprites/items/poke-radar.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DynaPuff">

    <style>
        body {
            font-family: 'DynaPuff', sans-serif;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-color: #d04040;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            text-shadow:
                -1px -1px 0 #e7f3f4,
                1px -1px 0 #e7f3f4,
                -1px 1px 0 #e7f3f4,
                1px 1px 0 #e7f3f4;
            text-align: center;
            font-size: 57px;
            font-weight: bold;
            text-align: center;
            font-family: 'DynaPuff', sans-serif;
        }

        .title-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .sprite {
            image-rendering: pixelated;
            border: 2px solid #3c4d5b;
            background-color: #e7f3f4;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
            width: 75px;
            height: 75px;
        }

        .container {
            text-align: center;
            background-color: #d04040;
            max-width: 100%;
            max-height: 100%;
            padding: 10px;
        }

        .inv-container {
            display: inline-block;
            padding: 5px;
            margin-left: 0px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }

        .bordered-window {
            border: 1px solid black;
            width: 100%;
            height: 720px;
            padding: 0 0 0 0px;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            background-color: #7fa9d0;
            list-style-type: none;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .trainer-pokemon-form {
            height: 550px;
            margin-top: 0;
        }

        button {
            background-color: #7fa9d0;
            border: 1px solid black;
            color: #3c4d5b;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            width: 22%;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            font-family: 'DynaPuff', sans-serif;
            margin: 0 auto;
        }

        #trainer-pokemon-form fieldset {
            margin-left: 5px;
            margin: 0;
            padding: 0;
        }

        #trainer-pokemon-form fieldset legend {
            margin-bottom: 0;
        }

        #trainer-pokemon-form fieldset>* {
            margin-bottom: 0;
        }
    </style>
    <title>PokeNavi | Creation</title>
</head>

<body>
    <div class="container">
        <div class="inv-container">
            <div class="title-box">
                <div class="title">PokeNavi</div>
                <img class="sprite" id="sprite"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png">
            </div>
            <div>
                <div class="bordered-window">

                    <form id="trainer-pokemon-form">
                        <fieldset>
                            <legend>Trainer Information</legend>
                            <label for="trainer-name">Trainer Name:</label>
                            <input type="text" id="trainer-name" name="trainer-name" required><br><br>

                            <label for="trainer-gender">Trainer Gender:</label>
                            <input type="text" id="trainer-gender" name="trainer-gender" required><br><br>

                            <label for="trainer-age">Trainer Age:</label>
                            <input type="number" id="trainer-age" name="trainer-age" required><br><br>
                        </fieldset>

                        <fieldset>
                            <legend>Pokemon Information</legend>
                            <label for="pokemon-name">Pokemon Name:</label>
                            <input type="text" id="pokemon-name" name="pokemon-name" required><br><br>

                            <label for="pokemon-gender">Pokemon Gender:</label>
                            <select id="pokemon-gender" name="pokemon-gender" required>
                                <option value="">--Please choose an option--</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="genderless">Genderless</option>
                            </select><br><br>

                            <label for="pokemon-species">Pokemon Species:</label>
                            <select id="pokemon-species" name="pokemon-species" required>
                                <option value="">--Please choose an option--</option>
                                <% for (let i=0; i < speciesNames.length; i++) { %>
                                    <option value="<%= speciesNames[i] %>">
                                        <%= (speciesNames[i]) %>
                                    </option>
                                    <% } %>
                            </select><br><br>

                            <label for="pokemon-traits">Pokemon Traits:</label>
                            <select id="pokemon-traits" name="pokemon-traits" required>
                                <option value="">--Please choose an option--</option>
                                <% for (let i=0; i < natureNames.length; i++) { %>
                                    <option value="<%= natureNames[i] %>">
                                        <%= (natureNames[i]) %>
                                    </option>
                                    <% } %>
                            </select><br><br>

                            <label for="pokemon-age">Pokemon Age:</label>
                            <input type="number" id="pokemon-age" name="pokemon-age" required><br><br>

                            <label for="pokemon-hobby">Pokemon Hobby:</label>
                            <input id="pokemon-hobby" name="pokemon-hobby" required>
                            </select><br><br>
                        </fieldset>

                        <button type="submit">Submit</button>
                        <button id="return" type="button">Return</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById('trainer-pokemon-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = {
                trainer: {
                    name: formData.get('trainer-name'),
                    gender: formData.get('trainer-gender'),
                    age: formData.get('trainer-age')
                },
                pokemon: {
                    name: formData.get('pokemon-name'),
                    species: formData.get('pokemon-species'),
                    gender: formData.get('pokemon-gender'),
                    traits: Array.from(formData.getAll('pokemon-traits')),
                    age: formData.get('pokemon-age'),
                    hobby: formData.get('pokemon-hobby')
                }
            };

            const jsonData = JSON.stringify(data);

            // Send the JSON data to the server
            fetch('/api/submit-data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Something went wrong');
                }
            }).then(data => {
                console.log('Success:', data);
                alert('Data submitted successfully');
            }).catch(error => {
                console.error('Error:', error);
                alert('Error submitting data');
            });
        });

        document.getElementById('return').addEventListener('click', function () {
            window.location.href = "/";
        });

    </script>
</body>

</html>