<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
  <div id="chat-panel" class="slide-panel">
    <button id="toggle-button">
      <img src="./images/menu.png" alt="Menu" />
    </button>
    <div id="content" class="content">
      <ul id="switch" class="button">
        <li data-value="">Pokémon</li>
        <% for (let i=0; i < allPokemon.length; i++) { %>
          <li data-value="<%= allPokemon[i].pokedexNumber %>">
            <%= allPokemon[i].species %>
          </li>
          <% } %>
      </ul>
    </div>
    <div id="settings-panel">
      <img src="./images/settings.png" id=settings-button alt="Settings">
      <img src="./images/logout.png" id=logout-button alt="Logout">
    </div>
  </div>



  <script src="./js/script.js"></script>
</body>

</html>