<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DynaPuff">
  <title>PokeNavi | Pokemon PC</title>
  
  <style>
    body {
      font-family: 'DynaPuff', sans-serif;
      height: 540px;
      width: 425px;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      background-color: #d04040;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      font-family: 'DynaPuff', sans-serif;
      text-shadow:
        -1px -1px 0 #e7f3f4,
        1px -1px 0 #e7f3f4,
        -1px 1px 0 #e7f3f4,
        1px 1px 0 #e7f3f4;
      font-size: 57px;
      font-weight: bold;
      font-family: 'DynaPuff', sans-serif;
    }


    #pokemonTable img.active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.3s ease-in-out;
      background-color: #7fa9d0;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="title">Pokemon PC</div>
    <table id="pokemonTable">
      <% let rowCount=0; %>
        <% for (let i=0; i < allPokemon.length; i++) { %>
          <% if (i % 4===0) { %>
            <% rowCount++; %>
              <tr>
                <% } %>
                  <td>
                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= allPokemon[i].pokedexNumber %>.png"
                      class="<%= allPokemon[i].isActive ? 'active' : '' %>"
                      data-pokedex-number="<%= allPokemon[i].pokedexNumber %>">
                  </td>
                  <% if ((i + 1) % 4===0 || i===allPokemon.length - 1) { %>
              </tr>
              <% } %>
                <% } %>
    </table>
    <button id="submit" class="btn btn-primary">Submit</button>
  </div>
  <script src="js/inventoryScript.js"></script>
</body>

</html>