body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #d04040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: #d04040;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.inv-container {
  display: inline-block;
  padding: 5px;
  margin-left: 0px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-shadow:
    -1px -1px 0 #e7f3f4,
    1px -1px 0 #e7f3f4,
    -1px 1px 0 #e7f3f4,
    1px 1px 0 #e7f3f4;
  text-align: center;
  font-size: 57px;
  font-weight: bold;
  text-align: center;
  font-family: 'DynaPuff', sans-serif;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sprite {
  image-rendering: pixelated;
  border: 2px solid #3c4d5b;
  background-color: #e7f3f4;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  width: 75px;
  height: 75px;
}

.btn-group {
  display: flex;
}

.btn-group .button {
  background-color: #7fa9d0;
  border: 1px solid black;
  color: #3c4d5b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin: 0 0px;
  box-sizing: border-box;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

.btn-group .button:hover {
  background-color: #64ace0;
}

select {
  font-family: 'DynaPuff', sans-serif;
}

.chat-messages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-messages li {
  align-self: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  word-wrap: break-word;
  max-width: 90%;
  box-sizing: border-box;
}

.chat-messages li.received-message {
  background-color: #f1f1f1;
  color: #000;
  align-self: flex-start;
}

.chat-messages li.sent-message {
  background-color: #d04040;
  color: #fff;
  margin-left: auto;
  align-self: flex-end;
}

.chat-container {
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  box-sizing: border-box;
  margin-left: 5px;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  word-wrap: break-word;
  max-width: 90%;
  box-sizing: border-box;
}

.received-message {
  background-color: #f1f1f1;
  color: #000;
  align-self: flex-start;
}

.sent-message {
  background-color: #0095f6;
  color: #fff;
  margin-left: auto;
}

.bordered-window { 
  position: relative; 
  overflow: hidden;
  border: 1px solid black;
  width: 100%;
  height: 550px;
  padding: 0 0 0 0px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  background-color: #7fa9d0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#chat-window::before {
  content: "";
  image-rendering: pixelated;
  background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png');
  background-size: 500px 500px;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
  transform: scaleX(-1);
  position: absolute; /* Added */
  top: 0;            /* Added */
  left: 0;           /* Added */
  width: 100%;       /* Added */
  height: 100%;      /* Added */
  background-position: center; /* Added */
}

.text-input {
  border: 1px solid black;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-container {
  width: 100%;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  text-align: left;
  margin: 10px 0;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: #3c4d5b;
}

button {
  background-color: #7fa9d0;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: 'DynaPuff', sans-serif;
}

.inv-p {
  margin-bottom: 0px;
}