.musicButton {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;  /* Adjust width */
  height: 30px; /* Adjust height */
  background-color: transparent;
  border: none; /* Remove the border */
  color: white; /* White color for the text */
  cursor: pointer;
  font-family: 'Pokemon Classic', sans-serif;
  font-size: 24px; /* Adjust font size */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0; /* Ensure text is vertically centered */
}
