.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  font-family: 'Pokemon Classic', sans-serif;
}

.closeButton {
  margin-top: 15px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Pokemon Classic', sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

.closeButton:hover {
  background-color: #0056b3;
}
